.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainCircle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: brown;

  position: absolute;
  top: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.js {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgba(255, 99, 71, 0.555);

  position: absolute;
  top: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.php {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(71, 255, 86, 0.315);

  position: absolute;
  top: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mysql {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgba(116, 126, 253, 0.74);

  position: absolute;
  top: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.react {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(29, 172, 228, 0.637);

  position: absolute;
  top: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nodejs {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: rgba(29, 228, 162, 0.726);

  position: absolute;
  top: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.laravel {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(248, 29, 29, 0.567);

  position: absolute;
  top: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.codeigniter {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgba(199, 107, 54, 0.767);

  position: absolute;
  top: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.git {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(48, 26, 13, 0.767);
  color: #fafafadc;

  position: absolute;
  top: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}