@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@531&display=swap');

body {
  font-family: MuseoModerno;

  background: url("images/app-bg.jpg") repeat center center fixed;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
}

.slick-prev:before,
.slick-next:before {
  color: tomato !important
}